[Unit]
Description=My Go Application
After=network.target

[Service]
Type=simple
User=nvvdoshkin
Group=nvvdoshkin
WorkingDirectory=/home/nvvdoshkin/telegram-bot
ExecStart=/home/nvvdoshkin/telegram-bot
Restart=always
RestartSec=5

StandardOutput=append:/log/bot.log
StandardError=append:/log/bot-error.log


[Install]
WantedBy=multi-user.target
