[Unit]
Description=My Go Application
After=network.target

[Service]
Type=simple
User=nvvdoshkin
Group=nvvdoshkin
WorkingDirectory=/home/nvvdoshkin/telegram-bot
ExecStart=/home/linuxbrew/.linuxbrew/bin/go run /home/nvvdoshkin/telegram-bot/main.go
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
